.footerall {
  width: 100%;
  /* background-color: #f9f9f9; */
}
.footertop {
  width: 1060px;
  height: 280px;
  border-bottom: 0.2px solid rgb(197, 197, 197);
  display: flex;
  justify-content: space-between;
}
.footertopleft {
  width: 330px;
  height: 210px;
  margin: 40px 40px 0 10px;
}
.servicecenter {
  margin: 0 0 16px 0;
  display: block;
  font-weight: 500;
  width: 330px;
}
.phonenumber {
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 13px 0;
  display: block;
  width: 330px;
}
.footerleftdetail {
  font-size: 13px;
  color: #80888a;
  font-weight: 500;
  display: block;
  width: 330px;
  margin: 8px 0;
}
.footertopleftbutton {
  margin: 24px 0 0 0;
  width: 330px;
}
.footertopleft > .footertopleftbutton > a {
  padding: 8px 16px;
  font-size: 13px;
  color: #80888a;
  background-color: #eeeeee;
  margin: 20px 12px 0 0;
}
.footertopright {
  width: 600px;
  height: 210px;
  margin: 40px 0 0 0;
}
#sitemap {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.sitemap > span {
  font-size: 16px;
  font-weight: 600;
}
.sitemap > ul {
  margin-top: 16 px;
}
.sitemap > ul > li {
  margin-top: 8px;
}

.sitemap > ul > li > a {
  font-size: 13px;
  color: #80888a;
}
.footerbottom {
  width: 1060px;
}
.footerlogo {
  width: 170px;
  float: left;
  margin-top: 52px;
}
.footerbottomdetail {
  float: right;
  margin-top: 23px;
  margin-right: 100px;
}

.footernav {
  width: 660px;
}
.footernav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10 px;
  margin-top: 14px;
}
.footernav > ul > li > a {
  font-weight: 500;
  padding-right: 16px;
  color: rgb(138, 138, 138);
}
.footernav > ul > li {
  position: relative;
}
.footernav > ul > li:not(:last-child)::after {
  content: "|";
  color: #bfbfbf;
  position: absolute;
  right: 0;
  font-weight: 300;
  margin-top: 4px;
  font-size: 10px;
}
.footerinfo {
  width: 700px;
  margin-top: 20px;
}
.footerinfo ul > li > span > a {
  font-size: 13px;
  color: rgb(74, 175, 112);
}
.footerinfo > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 14px;
}
.footerinfo > ul > li > span {
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px;
  color: rgb(138, 138, 138);
}
.footerinfo > ul > li {
  position: relative;
  margin: 0 0 0 8px;
}
.footerinfo > ul > li:not(:last-child)::after {
  content: "|";
  color: #bfbfbf;
  position: absolute;
  right: 0;
  font-weight: 300;
  margin-top: 4px;
  font-size: 10px;
}
.footerinfo > span {
  font-size: 13px;
  color: rgb(138, 138, 138);
  display: block;
  margin-top: 17px;
  margin-left: 8px;
}
